<div class="container-form">
    <header>
        <img src="../../assets/images/logo.svg" alt="Medicar" />
    </header>
    <form [formGroup]="formulario" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
            <mat-label>E-mail ou Login</mat-label>
            <input matInput type="email" name="email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="password">
            <mat-label>Senha</mat-label>
            <input matInput type="password" name="password" formControlName="senha" required>
            <img matSuffix src="../../assets/images/fa-solid_eye.svg" />
        </mat-form-field>

        <div class="grupo-form">
            <mat-checkbox color='primary'>Lembrar minha senha</mat-checkbox>
        </div>
        <div class="grupo-form">
            <button id="criar-conta" type="button" (click)="goToCriarConta()">Criar Conta</button>
            <button type="submit" id="acessar">Acessar</button>
        </div>
    </form>
</div>