<div class="container-form">
    <header>
        <h1>Nova Consulta</h1>
    </header>

    <form [formGroup]="formulario" (ngSubmit)="criarConsulta()">
        <mat-form-field appearance="outline">
            <mat-select formControlName="especialidade" placeholder="Especialidade" (selectionChange)="populaMedicos()" matInput>
                <mat-option *ngFor="let especialidade of especialidades" [value]="especialidade.id">
                    {{ especialidade.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-select formControlName="medico" placeholder="Médico" (selectionChange)="populaDatas()" matInput>
                <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                    {{ medico.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-select formControlName="data" placeholder="Data" (selectionChange)="populaHoras()" matInput>
                <mat-option *ngFor="let data of datas" [value]="data">
                    {{ data | dataLocale }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-select formControlName="hora" placeholder="Hora" matInput>
                <mat-option *ngFor="let hora of horarios" [value]="hora">
                    {{ hora }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="errorMsg" class="mensagem-erro">
            Houve um problema para marcar a consulta. Tente novamente mais tarde.
        </div>

        <div class="grupo-form">
            <button type="button" mat-dialog-close>Cancelar</button>
            <button type="submit" [disabled]="!todosCamposPreenchidos">Confirmar</button>
        </div>
    </form>
</div>
