@mixin light-button {
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px;
    width: 180px;
}